<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>test</title>
</head>
<body>

<form action="/test/jobs" method="get">
    <button name="jobid" type="submit" value="10">job1</button>
    <button name="jobid" type="submit" value="11">job2</button>
    <button name ="jobid" type="submit" value="12">job3</button>
    <button name ="apply" type="submit" value="hi" formaction="/test/apply">Apply</button>
    <div>
        <h2 th:if="${job != null && job.jobid != null && job.jobid != 0}" th:text="${job.jobid}"></h2>
        <p th:if="${job != null && job.jobdesc != null && job.jobdesc != 0}" th:text="${job.jobdesc}"></p>
        <h3 th:if="${user != null}" th:text="'Hello ' + ${user}"></h3>
        <h2 th:if="${msg != null}" th:text="${msg}"></h2>
    </div>
    <div style="text-align:right; margin:0px auto 0px auto;">
    <input type="submit" formaction="/login.html" value="Login">
    <input type="submit" name ="logout" formaction="/login.html" value="Logout">
    </div>
</form>


<div>
    <h2 th:if="${applymsg != null}" th:text="${applymsg}"></h2>
</div>

<h1 th:if="${loggedmsg != null}" th:text="${loggedmsg}"></h1>
</body>
</html>